<div class="mb-3">
  <%= form_with url: search_by_tag_posts_path, method: :get, local: true do %>
    <div class="input-group">
      <%= text_field_tag :tag, params[:tag], class: "form-control", placeholder: "Pesquisar por tag" %>
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </div>
  <% end %>
</div>



<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <h4><%= link_to post.title, post_path(post) %></h4>
      <p><%= post.content.truncate(100) %></p>

      <!-- Exibir tags como "pequenas boxes" (badges do Bootstrap) -->
        <div>
          <% post.tags.each do |tag| %>
            <span class="badge bg-info text-dark">
              <!-- Link para filtrar por esta tag -->
              <%= link_to tag.name, search_by_tag_posts_path(tag: tag.name), class: "text-dark" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<%= paginate @posts %>