<!DOCTYPE html>
<html>
  <head>
    <title>Gabriel Sgrancio - BLOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">Gabriel Sgrancio</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to t('navbar.new_post'), new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete, data: { turbo: "false", confirm: "Deseja realmente sair?" }, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t('navbar.login'), new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('navbar.signup'), new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>